{% extends 'base.html' %}


{% block content %}

<style>
    body {
      background-color: #F7FCFE;
    }

    a {
        text-decoration: none;
        color: black;
    }

    img {
        width: 70%; 
        border-radius: 1rem; 
        margin: 2rem 0;
    }

    h1 {
        margin: 5rem auto;
        text-align: center;
        font-size: 10vw;
    }

    h3 {
        margin: 3rem auto;
        text-align: center;
        font-size: 6vw;
    }

    audio {
        margin: 3rem auto;
    }

</style>

<div style="text-align: center;">
    <div>
        <a href="{% url 'curatorapp:bible_list' %}">
            <h1>
                성서전시실
            </h1>
        </a>

        <img src="{{ target_bible.image.url }}" alt="">
    </div>
    
    <div>
        <h3> {{target_bible.title}} </h3>
        <p style="text-align: left; font-size: 3vw; margin-top: 3rem;">
            {{target_bible.content }}
        </p>
    </div>

    <div>
        <audio controls>
            <source src="{{ target_bible.mp3.url }}" type="audio/mp3">
            해당 브라우저는 Audio 지원이 되지 않습니다!
            </audio>
    </div>
</div>
{% endblock %}