{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

    body {
      background-color: #F7FCFE;
    }

    .container {
        padding: 0;
        margin: 0, auto;
    }

    .container a {
        width: 45%;
        max-width: 250px;
    }

    .container div {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img{
        width: 100%;
        border-radius: 1rem;
    }

</style>

<h1 style="text-align: center; font-size: 6vw;">
    상설전시실
</h1>

<div style="margin: 5rem auto;">
    {% if permanent_list %}
    <div class="container">
        {% for permanent in permanent_list %}
        <a href="{% url 'curatorapp:permanent_detail' pk=permanent.pk %}">
            {% include 'snippets/card.html' with permanent=permanent %}
        </a>
        <h3 style="text-align: center; font-size: 3vh;">
            {{ permanent.title }}
        </h3>
        {% endfor %}
    </div>
    <script src="{% static 'SMMuseum/js/magic_grid.js' %}"></script>
    {% else %}
    <div style="text-align: center;">
        <h1>작품을 올려주세요!</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination_permanent.html' with page_obj=page_obj %}
</div>

{% endblock %}