{% extends 'base.html' %}


{% block content %}

<style>
    body {
      background-color: #F7FCFE;
    }

    a {
        text-decoration: none;
        color: black;
    }

    img {
        width: 60%; 
        border-radius: 1rem; 
        margin: 2rem 0;
    }

    h1 {
        margin-top: 10rem;
        text-align: center;
        font-size: 10vw;
    }

    h3 {
        margin: 3rem auto;
        text-align: center;
        font-size: 6vw;
    }

    audio {
        margin-bottom: 5rem;
    }

</style>

<div style="text-align: center;">
    <div>
        <a href="{% url 'curatorapp:permanent_list' %}">
            <h1>
                상설전시실
            </h1>
        </a>

        <img style="margin-top: 7rem;" src="{{ target_permanent.image.url }}" alt="">
    </div>
    
    <div>
        <h3> {{target_permanent.title}} </h3>
        <p style="text-align: left; font-size: 3vw; margin: 5rem auto;">
            {{target_permanent.content }}
        </p>
    </div>

    <div>
        <audio controls>
            <source src="{{ target_permanent.mp3.url }}" type="audio/mp3">
            해당 브라우저는 Audio 지원이 되지 않습니다!
            </audio>
    </div>
</div>
{% endblock %}