{% extends 'base.html' %}


{% block content %}

<div style="text-align: left; max-width: 700px; margin: 2rem auto;">
    <div>
        <h1 style="font-size: 6vw; margin-bottom: 5rem;">
            시설 안내
        </h1>
    </div>
    <div>
        <h3>
            □ 5층 - A : 상설전시실    B : 특별전시실
        </h3>
        <img style="width: 100%; border-radius: 1rem; margin: 2rem 0;"
        src="https://museum.sunmoon.ac.kr/images/subpage/5f_ms.jpg" alt="">
    </div>
    <div>
        <h3>
            □ 4층 - C : 한국성서박물관
        </h3>
        <img style="width: 100%; border-radius: 1rem; margin: 2rem 0;"
        src="https://museum.sunmoon.ac.kr/images/subpage/4f_ms.jpg" alt="">
    </div>
</div>

{% endblock %}