{% extends 'base.html' %}


{% block content %}

<style>
    body {
      background-color: #F7FCFE;
    }

    h1 {
        margin: 10rem auto;
        text-align: left;
        font-size: 10vw;
    }

    h3 {
        margin: 5rem auto;
        text-align: left;
        font-size: 4vw;
    }

    img{
        width: 80%; 
        border-radius: 1rem; 
        margin-bottom: 4rem;
    }
</style>

<div>
    <div>
        <h1>
            시설 안내
        </h1>
    </div>
    <div>
        <h3>
            □ 5층 - A : 상설전시실    B : 특별전시실
        </h3>
        <img src="https://museum.sunmoon.ac.kr/images/subpage/5f_ms.jpg" alt="">
    </div>
    <div>
        <h3>
            □ 4층 - C : 한국성서박물관
        </h3>
        <img src="https://museum.sunmoon.ac.kr/images/subpage/4f_ms.jpg" alt="">
    </div>
</div>

{% endblock %}