{% extends 'base.html' %}


{% block content %}

<div style="text-align: center; max-width: 700px; margin: 4rem auto;">
    <div>
        <h1 style="text-align: left; font-size: 6vw;">
            관람 안내
        </h1>
    </div>
    <div>
        <h2 style="text-align: left; font-size: 4vw;">
            01. 관람 시간
        </h2>
    </div>
    <div>
        <table class="table table-bordered" style="margin: 3rem auto; font-size: 2.6vw; text-align: center;">
          <tbody>
            <tr>
                <td>개관</td>
                <td>월~금요일 오전 10시 ~ 오후 5시까지</td>
            </tr>
            <tr>
                <td>휴관</td>
                <td>토요일, 일요일, 법정공휴일, 학교 지정 휴일</td>
            </tr>
            <tr>
                <td>관람료</td>
                <td>무료</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div>
        <p style="text-align: left; font-size: 2.6vw;">
            - 문의전화 : 041) 530-2781~2<br>
            - 팩스번호 : 041) 530-2961
        </p>
        <p style="text-align: left; font-size: 2.6vw; color: #f76005">
            ※ 단체관람을 원하시는 경우 사전에 문의하여 주시기 바랍니다.
        </p>
    </div>
    <div>
        <h2 style="text-align: left; font-size: 4vw; margin-top: 2rem;">
            02. 관람 시 유의사항
        </h2>
        <p style="text-align: left; font-size: 2.6vw;">
            1) 전시실에서 플래시와 삼각대 등을 이용한 사진촬영과 상업적 용도를 위한 촬영은 금지되어 있습니다.<br>
            2) 유물 보호를 위해 일부 진열장의 조명을 낮추었으니 이 점 양해 바랍니다.<br>
            3) 어린이가 뛰어 놀거나 큰소리를 내지 않도록 보살펴 주시기 바랍니다.<br>
            4) 휴대폰은 진동 모드로 전환해 주시고 주변 관람객에게 혐오감이나 불편을 주는 행위를 해서는 안됩니다.<br>
            5) 쾌적한 박물관 관람환경을 위해 음식물 반입은 금지됩니다.<br>
            6) 모두가 자랑스런 문화 유산을 보살피는 마음으로 관람질서에 협조하여 주시기 바랍니다.
        </p>
    </div>
</div>

{% endblock %}