{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    body {
      background-color: #F7FCFE;
    }
</style>

<body>
  <main>
      <!-- <svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg">
        
      </svg> -->
      
    <svg viewBox="0 0 75 30">
      <defs>
        <linearGradient id="Gradient1" x1="0" x2="0" y1="0" y2="1">
          <stop class="stop1" offset="0%"/>
          <stop class="stop2" offset="50%"/>
          <stop class="stop3" offset="100%"/>
        </linearGradient>

        <style type="text/css"><![CDATA[
        #rect1 { fill: url(#Gradient1); }
          .stop1 { stop-color: white; }
          .stop2 { stop-color: white; }
          .stop3 { stop-color: #c72a58; }
        ]]></style>

        <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="white"/>
          <stop offset="50%" stop-color="#3b858c" stop-opacity="0"/>
          <stop offset="100%" stop-color="#3b858c"/>
        </linearGradient>


    </defs>
      <circle cx="7" cy="15" r="5" fill="#c72a58" opacity="0.1"/>
      <text x="7" y="18" font-size="5">선문대학교</text>
      <rect id="rect1" width="20" height="25" x="55" y="-30" rx="3" ry="3" transform="rotate(20)"></rect>
      <rect width="20" height="25" x="50" y="-35" rx="3" ry="3" transform="rotate(20)" fill="url(#Gradient2)"></rect>
      <text x="7" y="23" font-size="5" fill="#c72a58">박물관</text>
    </svg>

    <svg viewBox="0 0 80 50">
      <circle cx="20" cy="10" r="5" fill="#c72a58" opacity="0.1"/>
      <rect width="50" height="30" x="50" y="0" rx="3" ry="3" transform="rotate(10)" fill="#3b858c" opacity="0.1"></rect>
      <rect width="50" height="30" x="10" y="0" rx="3" ry="3" transform="rotate(20)" fill="#3b858c" opacity="0.1"></rect>
      <a xlink:href="{% url 'curatorapp:permanent_list' %}">
        <rect width="20" height="25" fill="#ffffff" x="5" y="20" rx="3" ry="3" stroke="gray" stroke-width="0.1" />
        <image xlink:href="{% static 'SMMuseum/img/sang.png' %}" x="7.5" y="23" style="width: 15;"></image>
        <text x="9.2" y="42" font-size="2.5">상설전시실</text>
      </a>
      <a xlink:href="{% url 'curatorapp:bible_list' %}">
        <rect width="20" height="25" fill="#ffffff" x="30" y="20" rx="3" ry="3" stroke="gray" stroke-width="0.1" />
        <image xlink:href="{% static 'SMMuseum/img/sung.png' %}" x="32.5" y="23" style="width:15;"></image>
        <text x="34.2" y="42" font-size="2.5">성서전시실</text>
      </a>
      <a xlink:href="{% url 'curatorapp:special_list' %}">
        <rect width="20" height="25" fill="#ffffff" x="55" y="20" rx="3" ry="3" stroke="gray" stroke-width="0.1" />
        <image xlink:href="{% static 'SMMuseum/img/tk.png' %}" x="57.5" y="23" style="width: 15;"></image>
        <text x="59.2" y="42" font-size="2.5">특별전시실</text>
      </a>
      
    </svg>
    <svg viewBox="0 0 75 70">
      <circle cx="0" cy="15" r="14" fill="#c72a58" opacity="0.1"/>
      <rect width="50" height="30" x="-50" y="-60" rx="3" ry="3" transform="rotate(150)" fill="#3b858c" opacity="0.1"></rect>
      <image xlink:href="{% static 'SMMuseum/img/btfly.png' %}" x="45" y="20" style="width: 30; border: 3px solid black"></image>
      <text x="15" y="38" font-size="5">정진철 군접도</text>
      <text x="20" y="42" font-size="2">여러가지 무늬의 오색 나비가</text>
      <text x="26" y="44" font-size="2">바위와 꽃과 어울어짐</text>
    </svg>


  </main>
</body>

{% endblock %}