{% extends 'base.html' %}


{% block content %}

<div>
        <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'curatorapp:permanent_list' %}">
                        성설전시실
                </a>
        </button>
        <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'curatorapp:bible_list' %}">
                        성서전시실
                </a>
        </button>
        <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'curatorapp:special_list' %}">
                        특별전시실
                </a>
        </button>

</div>

{% endblock %}